*{
    font-family: arial, 'Franklin Gothic Medium', sans-serif;
}

.body-cont{
    background-color: rgba(76, 76, 76, 0.099);
}

/*Main content for index page Start*/
#header{
    text-align: center;
    background-color: rgb(92, 136, 255);
    padding: 0.2rem;
    margin-bottom: 2rem;
}

#index-body{
    background-color:rgb(255, 255, 255);
}

.main-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%; /* Optional: set a width smaller than the container */
    padding-bottom: 4rem;
}
@media screen and (max-width: 900px) {
    .main-img{
        width: 70%;
        padding-bottom: 2rem;
    }
}

#main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

@media screen and (max-width: 1024px) {
    #main{
        flex-direction: column;
    }
}
/*Main content for index page End*/


/*Main content for child pages Start*/
.main-cont{
    width: 60%;
    margin: auto;
    background-color: aliceblue;
    box-shadow: 2px 2px 5px black;
}

@media screen and (max-width: 900px) {
    .main-cont{
        width: 100%;
        margin: auto;
        background-color: aliceblue;
        margin: 0;
        padding: 0;
    }
}
/*Main content for child pages End*/



.heading-sec{
    text-align: center;
    padding: .5rem;
}

.issues-sec{
    background-color: rgb(255, 61, 61);
}
.issues-sec h1{
    text-align: center;
    text-decoration: underline;
}
.resolution-sec h1{
    text-align: center;
    text-decoration: underline;
}


.nav-sec{
    padding-top: 20px;
    list-style-type: none;
    text-align: center;
}

.home-btn{
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(92, 136, 255);
    padding: 1rem;
    border-radius: 50px;
}
.home-btn:hover{
    background-color: rgb(56, 109, 255);
    font-size: 1.1rem;
}

.pdfImg{
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    border: 1px solid black;
}

.links{
    list-style-type: none;
}
.links a:link {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.links a:visited{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.links a:hover{
    color: rgb(92, 136, 255);
    text-decoration: none;
    font-size: 1.1rem;
}

/*section borders start*/
.AD-links{
    background-color: aliceblue;
    border: 0px solid black;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 5px;
}

.M365-links{
    background-color: aliceblue;
    border: 0px solid black;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 5px;
}

.Gen-links{
    background-color: aliceblue;
    border: 0px solid black;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 5px;
}
.DHCP-links{
    background-color: aliceblue;
    border: 0px solid black;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 2px 2px 5px;
}
/*section borders end*/

.internetImg{
    display: block;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 1px solid black;
}

#testPDF{
    width: 60%;
    height: 800px;
    display: block;
  margin: 0 auto;
}